.app-card {
  background-color: var(--surface-color);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-sm);
  border: 1px solid var(--surface-hover);
  padding: 1.5rem;
  transition: all var(--transition-normal);
  display: flex;
  flex-direction: column;
}

.app-card.no-padding {
  padding: 0;
}

.app-card:hover {
  box-shadow: var(--shadow-md);
  transform: translateY(-2px);
}
